# Pandas Project Exercise 

# The Data

This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things.

All personally identifying information has been removed from the data.

Acknowledgements
The data is originally from the article Hotel Booking Demand Datasets, written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief, Volume 22, February 2019.


----------------------------

#### NOTE: Names, Emails, Phone Numbers, and Credit Card numbers in the data are synthetic and not real information from people. The hotel data is real from the publication listed above.

## <div style="text-align: center">Data Column Reference</div>

<table><thead><tr class="rowsep-1"><th scope="col"><strong>Variable</strong></th><th scope="col"><strong>Type</strong></th><th scope="col"><strong>Description</strong></th><th scope="col"><strong>Source/Engineering</strong></th></tr></thead><tbody><tr><th scope="row"><em>ADR</em></th><td>Numeric</td><td>Average Daily Rate as defined by <a name="bbib5" href="#bib5" class="workspace-trigger">[5]</a></td><td>BO, BL and TR / Calculated by dividing the sum of all lodging transactions by the total number of staying nights</td></tr><tr><th scope="row"><em>Adults</em></th><td>Integer</td><td>Number of adults</td><td>BO and BL</td></tr><tr><th scope="row"><em>Agent</em></th><td>Categorical</td><td>ID of the travel agency that made the booking<a name="btbl1fna" href="#tbl1fna" class="workspace-trigger"><sup>a</sup></a></td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateDayOfMonth</em></th><td>Integer</td><td>Day of the month of the arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateMonth</em></th><td>Categorical</td><td>Month of arrival date with 12 categories: “January” to “December”</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateWeekNumber</em></th><td>Integer</td><td>Week number of the arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateYear</em></th><td>Integer</td><td>Year of arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>AssignedRoomType</em></th><td>Categorical</td><td>Code for the type of room assigned to the booking. Sometimes the assigned room type differs from the reserved room type due to hotel operation reasons (e.g. overbooking) or by customer request. Code is presented instead of designation for anonymity reasons</td><td>BO and BL</td></tr><tr><th scope="row"><em>Babies</em></th><td>Integer</td><td>Number of babies</td><td>BO and BL</td></tr><tr><th scope="row"><em>BookingChanges</em></th><td>Integer</td><td>Number of changes/amendments made to the booking from the moment the booking was entered on the PMS until the moment of check-in or cancellation</td><td>BO and BL/Calculated by adding the number of unique iterations that change some of the booking attributes, namely: persons, arrival date, nights, reserved room type or meal</td></tr><tr><th scope="row"><em>Children</em></th><td>Integer</td><td>Number of children</td><td>BO and BL/Sum of both payable and non-payable children</td></tr><tr><th scope="row"><em>Company</em></th><td>Categorical</td><td>ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for anonymity reasons</td><td>BO and BL.</td></tr><tr><th scope="row"><em>Country</em></th><td>Categorical</td><td>Country of origin. Categories are represented in the ISO 3155–3:2013 format <a name="bbib6" href="#bib6" class="workspace-trigger">[6]</a></td><td>BO, BL and NT</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="5"><em>CustomerType</em></th><td rowspan="5">Categorical</td><td>Type of booking, assuming one of four categories:</td><td rowspan="5">BO and BL</td></tr><tr><td>Contract - when the booking has an allotment or other type of contract associated to it;</td></tr><tr><td>Group – when the booking is associated to a group;</td></tr><tr><td>Transient – when the booking is not part of a group or contract, and is not associated to other transient booking;</td></tr><tr><td>Transient-party – when the booking is transient, but is associated to at least other transient booking</td></tr><tr><th scope="row"><em>DaysInWaitingList</em></th><td>Integer</td><td>Number of days the booking was in the waiting list before it was confirmed to the customer</td><td>BO/Calculated by subtracting the date the booking was confirmed to the customer from the date the booking entered on the PMS</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="7"><em>DepositType</em></th><td rowspan="7">Categorical</td><td>Indication on if the customer made a deposit to guarantee the booking. This variable can assume three categories:</td><td rowspan="2">BO and TR/Value calculated based on the payments identified for the booking in the transaction (TR) table before the booking׳s arrival or cancellation date.</td></tr><tr><td rowspan="3">No Deposit – no deposit was made;</td></tr><tr><td>In case no payments were found the value is “No Deposit”.</td></tr><tr><td rowspan="2">If the payment was equal or exceeded the total cost of stay, the value is set as “Non Refund”.</td></tr><tr><td rowspan="2">Non Refund – a deposit was made in the value of the total stay cost;</td></tr><tr><td rowspan="2">Otherwise the value is set as “Refundable”</td></tr><tr><td>Refundable – a deposit was made with a value under the total cost of stay.</td></tr><tr><th scope="row"><em>DistributionChannel</em></th><td>Categorical</td><td>Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”</td><td>BO, BL and DC</td></tr><tr><th scope="row"><em>IsCanceled</em></th><td>Categorical</td><td>Value indicating if the booking was canceled (1) or not (0)</td><td>BO</td></tr><tr><th scope="row"><em>IsRepeatedGuest</em></th><td>Categorical</td><td>Value indicating if the booking name was from a repeated guest (1) or not (0)</td><td>BO, BL and C/ Variable created by verifying if a profile was associated with the booking customer. If so, and if the customer profile creation date was prior to the creation date for the booking on the PMS database it was assumed the booking was from a repeated guest</td></tr><tr><th scope="row"><em>LeadTime</em></th><td>Integer</td><td>Number of days that elapsed between the entering date of the booking into the PMS and the arrival date</td><td>BO and BL/ Subtraction of the entering date from the arrival date</td></tr><tr><th scope="row"><em>MarketSegment</em></th><td>Categorical</td><td>Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”</td><td>BO, BL and MS</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="5"><em>Meal</em></th><td rowspan="5">Categorical</td><td>Type of meal booked. Categories are presented in standard hospitality meal packages:</td><td rowspan="5">BO, BL and ML</td></tr><tr><td>Undefined/SC – no meal package;</td></tr><tr><td>BB – Bed &amp; Breakfast;</td></tr><tr><td>HB – Half board (breakfast and one other meal – usually dinner);</td></tr><tr><td>FB – Full board (breakfast, lunch and dinner)</td></tr><tr><th scope="row"><em>PreviousBookingsNotCanceled</em></th><td>Integer</td><td>Number of previous bookings not cancelled by the customer prior to the current booking</td><td>BO and BL / In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and not canceled.</td></tr><tr><th scope="row"><em>PreviousCancellations</em></th><td>Integer</td><td>Number of previous bookings that were cancelled by the customer prior to the current booking</td><td>BO and BL/ In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and canceled.</td></tr><tr><th scope="row"><em>RequiredCardParkingSpaces</em></th><td>Integer</td><td>Number of car parking spaces required by the customer</td><td>BO and BL</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="4"><em>ReservationStatus</em></th><td rowspan="4">Categorical</td><td>Reservation last status, assuming one of three categories:</td><td rowspan="4">BO</td></tr><tr><td>Canceled – booking was canceled by the customer;</td></tr><tr><td>Check-Out – customer has checked in but already departed;</td></tr><tr><td>No-Show – customer did not check-in and did inform the hotel of the reason why</td></tr><tr><th scope="row"><em>ReservationStatusDate</em></th><td>Date</td><td>Date at which the last status was set. This variable can be used in conjunction with the <em>ReservationStatus</em> to understand when was the booking canceled or when did the customer checked-out of the hotel</td><td>BO</td></tr><tr><th scope="row"><em>ReservedRoomType</em></th><td>Categorical</td><td>Code of room type reserved. Code is presented instead of designation for anonymity reasons</td><td>BO and BL</td></tr><tr><th scope="row"><em>StaysInWeekendNights</em></th><td>Integer</td><td>Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel</td><td>BO and BL/ Calculated by counting the number of weekend nights from the total number of nights</td></tr><tr><th scope="row"><em>StaysInWeekNights</em></th><td>Integer</td><td>Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel</td><td>BO and BL/Calculated by counting the number of week nights from the total number of nights</td></tr><tr><th scope="row"><em>TotalOfSpecialRequests</em></th><td>Integer</td><td>Number of special requests made by the customer (e.g. twin bed or high floor)</td><td>BO and BL/Sum of all special requests</td></tr></tbody></table>

-----------

# TASKS

**Complete the tasks shown in bold below. The expected output is shown in a cell below. Be careful not to run the cell above the expected output, as it will clear the expected output. Try your best to solve these in one line of pandas code (not every single question can be solved in one line, but many can be!) 
-----
### TASK: Run the following code to read in the "hotel_booking_data.csv" file. Feel free to explore the file a bit before continuing with the rest of the exercise.

In [1]:
import pandas as pd
import numpy as np

# Task: Read csv file (hotel_booking_data)

In [2]:
df=pd.read_csv('hotel_booking_data.csv')

# Task: View first 10 rows

In [4]:
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,Transient,107.0,0,0,Check-Out,2015-07-03,Dylan Rangel,Rangel.Dylan@comcast.net,420-332-5209,************6994
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,Transient,103.0,0,1,Check-Out,2015-07-03,William Velez,Velez_William@mail.com,286-669-4333,************8729
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,Transient,82.0,0,1,Canceled,2015-05-06,Steven Murphy,Steven.Murphy54@aol.com,341-726-5787,************3639
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,Transient,105.5,0,0,Canceled,2015-04-22,Michael Moore,MichaelMoore81@outlook.com,316-648-6176,************9190

# TASK: How many rows are there?**

In [6]:
len(df) #using len to count number of rows

119390

# TASK: Is there any missing data? If so, which column has the most missing data?**

In [21]:
df.isnull().sum().sort_values(ascending=False)[:10]  #checking null columns and sorting values by sum of columns in ascending order

company                 112593
agent                    16340
country                    488
children                     4
credit_card                  0
adults                       0
market_segment               0
meal                         0
babies                       0
stays_in_week_nights         0
dtype: int64

# **TASK: Drop the "company" column from the dataset.**

In [14]:
df.drop('company',axis=1) #dropping company column

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,Transient,107.00,0,0,Check-Out,2015-07-03,Dylan Rangel,Rangel.Dylan@comcast.net,420-332-5209,************6994
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,Transient,103.00,0,1,Check-Out,2015-07-03,William Velez,Velez_William@mail.com,286-669-4333,************8729
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,Transient,82.00,0,1,Canceled,2015-05-06,Steven Murphy,Steven.Murphy54@aol.com,341-726-5787,************3639
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,Transient,105.50,0,0,Canceled,2015-04-22,Michael Moore,MichaelMoore81@outlook.com,316-648-6176,************9190
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,Transient,123.00,0,0,Canceled,2015-06-23,Priscilla Collins PhD,PhD.Priscilla74@att.com,833-887-7898,************4642
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,Transient,145.00,0,0,Check-Out,2015-07-05,Laurie Smith,Smith.Laurie@att.com,804-383-4080,************5450
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,Transient,97.00,0,3,Check-Out,2015-07-05,Casey Thomas,Casey_T78@outlook.com,211-071-2173,************8518
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,Transient,154.77,0,1,Check-Out,2015-07-05,Rachel Friedman,Rachel.F@protonmail.com,435-075-8409,************9767
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,Transient,94.71,0,0,Check-Out,2015-07-05,Edward Torres,Edward.T@zoho.com,790-746-7471,************7719
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,Transient,97.00,0,3,Check-Out,2015-07-05,Samuel Zavala,Zavala_Samuel46@xfinity.com,649-384-5387,************7612
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,Contract,97.50,0,0,Check-Out,2015-07-05,Dr. Victor Martin,Dr.Martin@xfinity.com,331-430-8824,************6279
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,Transient,88.20,0,0,Check-Out,2015-07-02,Sara Lee,Sara.L@hotmail.com,573-306-9938,************8950
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,Transient,107.42,0,0,Check-Out,2015-07-02,Curtis Rodriguez,CRodriguez@verizon.com,466-424-2102,************1179
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,Transient,153.00,0,1,Check-Out,2015-07-05,Stephanie Schmidt,StephanieSchmidt@hotmail.com,896-642-1049,************1110
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,Transient,97.29,0,1,Check-Out,2015-07-06,John Matthews,John.Matthews@aol.com,952-496-4398,************1019
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,Transient,84.67,0,1,Check-Out,2015-07-07,Robert Chung,Robert.Chung47@yandex.com,382-465-6552,************8524
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,Transient,84.67,0,1,Check-Out,2015-07-07,Mark Garcia,MGarcia16@comcast.net,784-675-4921,************4371
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,Transient,99.67,0,1,Check-Out,2015-07-07,Brandon Taylor,BrandonTaylor@hotmail.com,227-329-7167,************8470
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,Contract,94.95,0,1,Check-Out,2015-07-01,Angie Sanchez,Angie_Sanchez@att.com,211-889-2476,************8871
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,Transient,63.60,1,0,Check-Out,2015-07-08,Alexis King,King_Alexis70@hotmail.com,103-516-5853,************6809
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,Contract,79.50,0,0,Check-Out,2015-07-08,Michael Davidson,MichaelDavidson82@att.com,336-525-2460,************8662
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,Transient,107.00,0,2,Canceled,2015-05-11,Jaime Flynn,JaimeFlynn29@gmail.com,549-866-3721,************9660
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,...,Transient,94.00,0,0,Check-Out,2015-07-08,Mrs. Alicia Williams,Mrs..W61@yandex.com,427-564-4927,************4445
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,Transient,87.30,1,1,Check-Out,2015-07-08,Heather Hart,Heather.H@xfinity.com,431-329-6663,************2780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119360,City Hotel,0,195,2017,August,35,29,1,5,2,...,Transient,117.00,0,1,Check-Out,2017-09-04,Tyler Moore,Tyler_Moore29@yahoo.com,605-945-3220,************5064
119361,City Hotel,0,100,2017,August,35,31,1,3,2,...,Transient,95.85,0,0,Check-Out,2017-09-04,Samuel Lewis,Samuel.L@xfinity.com,917-502-5978,************9544
119362,City Hotel,0,198,2017,August,35,29,1,5,2,...,Transient,119.17,0,2,Check-Out,2017-09-04,Mia Bridges,Bridges.Mia@xfinity.com,656-064-3564,************7590
119363,City Hotel,0,212,2017,August,35,28,2,5,2,...,Transient,92.17,0,1,Check-Out,2017-09-04,Donna Young,Donna_Y34@hotmail.com,946-717-5213,************2124
119364,City Hotel,0,212,2017,August,35,28,2,5,2,...,Transient,92.17,0,2,Check-Out,2017-09-04,Thomas Richardson,ThomasRichardson@verizon.com,530-787-9244,************5743
119365,City Hotel,0,54,2017,August,35,27,3,5,1,...,Transient,266.75,0,1,Check-Out,2017-09-04,Christine Johnson,CJohnson91@att.com,851-066-5817,************8453
119366,City Hotel,0,210,2017,August,35,28,2,5,2,...,Transient,85.59,0,1,Check-Out,2017-09-04,Emily Melton,Melton.Emily@verizon.com,176-506-4986,************8565
119367,City Hotel,0,212,2017,August,35,28,2,5,2,...,Transient,85.59,0,0,Check-Out,2017-09-04,Christopher Lewis,Lewis.Christopher82@yahoo.com,302-081-9660,************3901
119368,City Hotel,0,261,2017,August,35,30,1,4,2,...,Transient,99.00,0,0,Check-Out,2017-09-04,David Doyle,DDoyle95@verizon.com,464-941-2107,************4279
119369,City Hotel,0,207,2017,August,34,25,3,7,2,...,Transient,96.25,0,2,Check-Out,2017-09-04,Erin Benson,Benson_Erin15@att.com,598-617-2436,************7834
119370,City Hotel,0,201,2017,August,35,30,1,4,1,...,Transient,108.00,0,2,Check-Out,2017-09-04,Valerie West,West_Valerie@comcast.net,997-317-9721,************7658
119371,City Hotel,0,175,2017,August,35,31,1,3,2,...,Transient,86.85,0,2,Check-Out,2017-09-04,Jim Anderson,JimAnderson@yandex.com,314-015-9640,************2821
119372,City Hotel,0,175,2017,August,35,31,1,3,1,...,Transient,82.35,0,1,Check-Out,2017-09-04,David Young,DavidYoung47@zoho.com,606-247-8498,************9983
119373,City Hotel,0,175,2017,August,35,31,1,3,1,...,Transient,82.35,0,1,Check-Out,2017-09-04,Alexandria Davis,AlexandriaDavis@att.com,435-353-3974,************2683
119374,City Hotel,0,201,2017,August,35,29,1,5,2,...,Transient,117.00,0,2,Check-Out,2017-09-04,Michael Deleon,Michael_D@att.com,415-740-0604,************2792
119375,City Hotel,0,200,2017,August,35,30,1,4,2,...,Transient,85.50,0,1,Check-Out,2017-09-04,Mary Pittman,Mary.Pittman17@protonmail.com,355-945-3910,************5480
119376,City Hotel,0,165,2017,August,35,29,1,5,3,...,Transient,209.25,0,3,Check-Out,2017-09-04,Meghan Edwards,Meghan_E@aol.com,718-214-5093,************2951
119377,City Hotel,0,185,2017,August,35,30,1,4,2,...,Transient,99.00,0,1,Check-Out,2017-09-04,Jennifer Wood,Jennifer.W@att.com,503-261-6570,************4447
119378,City Hotel,0,247,2017,August,35,31,1,3,2,...,Transient,86.85,0,0,Check-Out,2017-09-04,Martha Acevedo,Martha.Acevedo40@xfinity.com,392-301-5354,************9846
119379,City Hotel,0,109,2017,August,35,31,1,3,2,...,Transient,155.00,0,1,Check-Out,2017-09-04,Amanda Rogers,AmandaRogers@gmail.com,590-022-0933,************5102
119380,City Hotel,0,44,2017,August,35,31,1,3,2,...,Transient,140.75,0,1,Check-Out,2017-09-04,Wanda Jones,Wanda_J@yandex.com,379-374-7947,************8581
119381,City Hotel,0,188,2017,August,35,31,2,3,2,...,Transient,99.00,0,0,Check-Out,2017-09-05,Betty Taylor,BTaylor@yandex.com,114-632-1395,************1795
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,Transient,209.00,0,0,Check-Out,2017-09-05,Cesar Moreno,Cesar_M50@comcast.net,666-379-7260,************7835
119383,City Hotel,0,164,2017,August,35,31,2,4,2,...,Transient,87.60,0,0,Check-Out,2017-09-06,Jose Andersen,Andersen_Jose@protonmail.com,656-714-5930,************7923
119384,City Hotel,0,21,2017,August,35,30,2,5,2,...,Transient,96.14,0,2,Check-Out,2017-09-06,James Mccarty,James_M@att.com,689-204-7523,************7994
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

# **TASK: What are the top 5 most common country codes in the dataset?**

In [39]:
df['country'].value_counts()[:5]  #counting country using value counts

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

# **TASK: What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?**

In [40]:
df.sort_values('adr',ascending=False)[['adr','name']].iloc[0]

adr              5400
name    Daniel Walter
Name: 48515, dtype: object

In [43]:
df.iloc[df['adr'].idxmax()]

hotel                                             City Hotel
is_canceled                                                1
lead_time                                                 35
arrival_date_year                                       2016
arrival_date_month                                     March
arrival_date_week_number                                  13
arrival_date_day_of_month                                 25
stays_in_weekend_nights                                    0
stays_in_week_nights                                       1
adults                                                     2
children                                                   0
babies                                                     0
meal                                                      BB
country                                                  PRT
market_segment                                 Offline TA/TO
distribution_channel                                   TA/TO
is_repeated_guest                                          0
previous_cancellations                                     0
previous_bookings_not_canceled                             0
reserved_room_type                                         A
assigned_room_type                                         A
booking_changes                                            1
deposit_type                                      Non Refund
agent                                                     12
company                                                  NaN
days_in_waiting_list                                       0
customer_type                                      Transient
adr                                                     5400
required_car_parking_spaces                                0
total_of_special_requests                                  0
reservation_status                                  Canceled
reservation_status_date                           2016-02-19
name                                           Daniel Walter
email                             DanielWalter27@comcast.net
phone-number                                    865-280-5832
credit_card                                 ************6075
Name: 48515, dtype: object

# **TASK: The adr is the average daily rate for a person's stay at the hotel. What is the mean adr across all the hotel stays in the dataset?**

In [46]:
round(df['adr'].mean(),2) #mean of adr

101.83

# **TASK: What is the average (mean) number of nights for a stay across the entire data set? Feel free to round this to 2 decimal points.**

In [50]:
df['total_stay_nights']= df['stays_in_week_nights'] + df['stays_in_weekend_nights']  #average mean of total stay in hotel
round(df['total_stay_nights'].mean(),2)

3.43

**TASK: What is the average total cost for a stay in the dataset? Not *average daily cost*, but *total* stay cost. (You will need to calculate total cost your self by using ADR and week day and weeknight stays). Feel free to round this to 2 decimal points.**

In [51]:
# CODE HERE
df['total_spend']=df['adr']*df['total_stay_nights']   #total spend = adr * nights stayed in hotel
round(df['total_spend'].mean(),2) #rounding upto 2 decimals

357.85

357.85

**TASK: What are the names and emails of people who made exactly 5 "Special Requests"?**

In [53]:
# CODE HERE
df[df['total_of_special_requests']== 5 ][['name','email']] #total special request = 5

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

**TASK: What percentage of hotel stays were classified as "repeat guests"? (Do not base this off the name of the person, but instead of the is_repeated_guest column)**

In [54]:
#CODE HERE
round(100*sum(df['is_repeated_guest']==1)/len(df),2)   #percentage of repeat guests based on is_repeated_guest column

3.19

3.19

**TASK: What are the top 5 most common last name in the dataset? Bonus: Can you figure this out in one line of pandas code? (For simplicity treat the a title such as MD as a last name, for example Caroline Conley MD can be said to have the last name MD)**

In [55]:
#CODE HERE
df['name'].apply(lambda name:name.split()[-1]).value_counts()[:5]

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

Smith       2510
Johnson     1998
Williams    1628
Jones       1441
Brown       1433
Name: name, dtype: int64

**TASK: What are the names of the people who had booked the most number children and babies for their stay? (Don't worry if they canceled, only consider number of people reported at the time of their reservation)**

In [5]:
#CODE HERE
df['total_kids']=df['babies']+df['children']
df.sort_values('total_kids',ascending=False)[['adults','babies','children','name','total_kids']].head(3)  #total kids = babies + children and sorting the sum of total kids and name using head(3) to match number of output given below

       adults  babies  children             name  total_kids
328         2       0      10.0    Jamie Ramirez        10.0
46619       2      10       0.0  Nicholas Parker        10.0
78656       1       9       0.0    Marc Robinson         9.0

                  name  adults  total_kids  babies  children
328      Jamie Ramirez       2        10.0       0      10.0
46619  Nicholas Parker       2        10.0      10       0.0
78656    Marc Robinson       1         9.0       9       0.0

**TASK: What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)**

In [63]:
#CODE HERE
df['phone-number'].apply(lambda num: num[:3]).value_counts().head(3) #using lambda num 3 to count first 3 digits of area code

799    168
185    167
541    166
Name: phone-number, dtype: int64

In [64]:
def area(x): #using def function to count first 3 digits 
    return str(x)[:3]
df['area_code']=df['phone-number'].apply(area) #apply function on area
df['area_code'].value_counts().head(3)

799    168
185    167
541    166
Name: area_code, dtype: int64

Code - Total Count

799    168
185    167
541    166
Name: phone-number, dtype: int64

**TASK: How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ? Bonus: Can you do this in one line of pandas code?**

In [66]:
#CODE HERE
df['arrival_date_day_of_month'].apply(lambda day:day in range(1,16)).sum() #counting total sum of days in range of 1-16 because 15 is inclusive

58152

58152


**HARD BONUS TASK: Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc..)**

In [88]:
# CODE HERE
def convert(day,month,year):
    return f"{day}-{month}-{year}" #write function to convert day month year

In [90]:
df['date']=np.vectorize(convert)(df['arrival_date_day_of_month'],df['arrival_date_month'],df['arrival_date_year']) #apply function in vectorize
df['date']

0            1-July-2015
1            1-July-2015
2            1-July-2015
3            1-July-2015
4            1-July-2015
5            1-July-2015
6            1-July-2015
7            1-July-2015
8            1-July-2015
9            1-July-2015
10           1-July-2015
11           1-July-2015
12           1-July-2015
13           1-July-2015
14           1-July-2015
15           1-July-2015
16           1-July-2015
17           1-July-2015
18           1-July-2015
19           1-July-2015
20           1-July-2015
21           1-July-2015
22           1-July-2015
23           1-July-2015
24           1-July-2015
25           1-July-2015
26           1-July-2015
27           1-July-2015
28           1-July-2015
29           1-July-2015
               ...
119360    29-August-2017
119361    31-August-2017
119362    29-August-2017
119363    28-August-2017
119364    28-August-2017
119365    27-August-2017
119366    28-August-2017
119367    28-August-2017
119368    30-August-2017
119369    25-August-2017
119370    30-August-2017
119371    31-August-2017
119372    31-August-2017
119373    31-August-2017
119374    29-August-2017
119375    30-August-2017
119376    29-August-2017
119377    30-August-2017
119378    31-August-2017
119379    31-August-2017
119380    31-August-2017
119381    31-August-2017
119382    30-August-2017
119383    31-August-2017
119384    30-August-2017
119385    30-August-2017
119386    31-August-2017
119387    31-August-2017
119388    31-August-2017
119389    29-August-2017
Name: date, Length: 119390, dtype: object

In [91]:
df['date']=pd.to_datetime(df['date'])  #convert data to date time

In [92]:
df['date'].dt.day_name().value_counts() #convert date time to day name and use value_counts

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: date, dtype: int64

Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: date, dtype: int64

---

---